/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/RB2_Praktikum.iml
/.idea/vcs.xml
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/build.make
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/C.includecache
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/depend.internal
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/depend.make
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/flags.make
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/link.txt
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/RB2_Praktikum
/cmake-build-debug/RB2_Praktikum.cbp
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/RB2_Praktikum.dir/RB2_Pr08/Aufgabe2/thread_simple.c.o
